<!DOCTYPE html>
<html id="ng-app" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title ng-bind="'SITE.name'|i18n"></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!--[if lt IE 9]><%= javascript_include_tag 'ie' %><![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%#= link_to '退出', destroy_user_session_path, method: :delete %>
<%= yield %>
</body>
</html>
